@model HomeMarket.Models.DonHang

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@section header{
    Tạo mới
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">            
                <div class="ibox-content">

				@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Ma, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ma)
                @Html.ValidationMessageFor(model => model.Ma)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.KhachHangId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.KhachHangId)
                @Html.ValidationMessageFor(model => model.KhachHangId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NCUId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NCUId)
                @Html.ValidationMessageFor(model => model.NCUId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ThoiGianDat, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ThoiGianDat)
                @Html.ValidationMessageFor(model => model.ThoiGianDat)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DaNhan, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DaNhan)
                @Html.ValidationMessageFor(model => model.DaNhan)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.X, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.X)
                @Html.ValidationMessageFor(model => model.X)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Y, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Y)
                @Html.ValidationMessageFor(model => model.Y)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Cập nhật" class="btn btn-primary" />
				@Html.ActionLink("Hủy bỏ", "Index", null, new { @class = "btn btn-danger"})
            </div>
        </div>
    </div>
}


                </div>
            </div>
        </div>
    </div>
 </div>


